
.main {
    display: inline-block;
    width: 1200px;
    margin-top: 40px;
    position: absolute;
    overflow: hidden;
    left:50%;
    transform: translate(-50%);
}

@media (max-width: 1200px ) {
.main {
    display: inline-block;
    position: absolute;
    width: 1000px;

    left:50%;
    transform: translate(-50%);
}
}