.pricing-section {
    margin-bottom: 200px;
}


.pricing-text {
    text-align: center;
    width: 100%;
}
.pricing-text > h2 {
    font-size: 55px;
    color: var(--font-color);
}
.pricing-text > p {
    font-size: 20px;
    margin-top: 20px;
}
.price-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 100px;

}
.prices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50px;
    border: 8px dashed;
    border-color:  var(--blue-buttons);
    padding: 0 40px;
    width: 340px;
    height: 550px;
    box-shadow: 1px 1px 20px 1px rgba(128, 128, 128, 0.13);
    cursor: pointer;
}
.prices > span {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform:uppercase;
    border-radius: 25px;
    height: 30px;
    width: 90px;
    background-color: var(--blue-buttons);
    color: white;
}
.prices:hover {
    box-shadow: 1px 1px 80px 1px rgba(158, 158, 158, 0.76);
}
.prices:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    padding: 0 40px;
    margin-top: 25px;
    width: 335px;
    height: 500px;
}
.prices:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    padding: 0 40px;
    margin-top: 25px;
    width: 335px;
    height: 500px;

}


.prices > h2 {
    font-size: 65px;
    color: var(--font-color);
    
}
.prices > h3 {
    font-size: 20px;
    color: var(--blue-buttons);
}
.prices > h4 {
    font-size: 18px;
    font-weight: 400;
    margin: 20px 0;

}
.prices > ul {
    font-size: 15px;
    list-style-type: circle;
    
}
.prices > ul > li {
    margin: 20px 0;
}

.prices > .prices-link {
    text-decoration: none;
    margin-top: 20px;
    background-color: #3A88EC;
    text-transform: capitalize;
    font-size: 18px;
    line-height: 15px;
    font-weight: 600;
    color: white;
    padding: 20px;
    width: 140px;
    border-radius: 25px;
}
.prices > .prices-link:hover {
    transform: translateY(1px);
    background-color: #FF3E81;
    box-shadow: none;
}