.second-section {
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
}
.second-left {
    margin-top: 200px;
    width: 45%;
}
.second-left > h2 {
    font-size: 23px;
    color: #303669;
}
.second-left > h3 {
    font-size:50px;
    color: #303669;
}
.second-left > p {
    margin-top:  20px;
}
.accordion-buttons {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
   
}
.accordion-buttons > .accordion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    width: 420px;
    height: 25px;
    padding: 25px 20px 25px 20px;
    margin-top: 20px;
    border-radius: 25px;
    font-size: 15px;
    border:  none;
    outline: none;
    text-decoration: none;
    color: white;
    background-color:#3A88EC;
    transition: 0.34s;
    cursor: pointer;
   

}
.accordion::after {
    content: '\002B';
    font-size: 30px;
  color: white;
  float: right;
  margin-left: 5px;
}


.active:after {
    content: "\002D";
    font-size: 40px;
    margin-top: -5px;

  }

.accordion-buttons > .accordion:hover {
    background-color: #86b5f3;
}
.hidden-panel {
    width: 400px;
    display: none;
    overflow: hidden;
    padding: 10px 20px;
}
.second-right {
    display: flex;
    width: 55%;
    justify-content: flex-end;
    margin-top: 140px;
}
.second-right > img {
   height: 420px;
}