.third-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 100px;
}
.third-left-column {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}
.third-left-column > img {
    height: 500px;
}
.third-right-column {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 100px 0 0 200px

}
.third-right-column > h2 {
    font-size: 23px;
    color: #303669;
}
.third-right-column > h3 {
    font-size: 50px;
    color: #303669;
}
.third-right-column > p {
    margin-top: 20px;
    width: 100%;
}
.third-section-link {
    margin-top: 40px;
    text-decoration: none;
    color: white;
    border-radius: 25px;
    width: 140px;
    padding: 12px;
    margin-top: 40px;
    text-align: center;
    background-color: #FF3E81;
}
.third-section-link:hover {
    transform: translateY(1px);
    background-color: #3A88EC;

}